bucket = "<realm>_faops_instances_terraform"
    key = "<region>_faops_sopsutilvm_instances_<region key>_terraform.tfstate"
    region = "<region>"
    endpoint = "https://<namespace>.compat.objectstorage.<region>.oraclecloud.com"
    skip_region_validation = true
    skip_credentials_validation = true
    skip_requesting_account_id = true
    skip_get_ec2_platforms = true
    skip_metadata_api_check = true
    force_path_style = true
    profile = "cicd_<tenancy>"
