**/*.pyc
**/*.py,cover
.DS_Store
src/.DS_Store
.env
creds/*.env
django
creds/config*
*/db.sqlite3
**/**/**/*.pyc
**/**/*.pyc
**/*.pyc
creds/*.pem
creds/*.txt
fapod/psr_dir/*
fapod/podlookup/migrations/__pycache__/*.*
fapod/podlookup/migrations/*.*
fapod/podlookup/common/__pycache__/*.*
fapod/podlookup/__pycache__/*.*
fapod/fapod/__pycache__/*.*
fapod/podlookup/__pycache__/*.*
podlookup/__pycache__/*.*
fapod/common/data_dir/*.json
fapod/common/data_dir/*
fapod/outdir_log/*
fapod/podlookup/__pycache__/*
