{% load static %}
<div class="accordion" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button onclick="bespoke_details_collapse()" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Bespoke Details
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="d-flex justify-content-center">
          <div class="spinner-border loader-spin-off" id="loader-sp-13">
          </div>
        </div>
       <div id="bespoke_details_div">

       </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button onclick="pod_family_js()"  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Pod Family Details
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="d-flex justify-content-center">
          <div class="spinner-border loader-spin-off" id="loader-sp-12">
          </div>
        </div>
          <div id="pod_family_data_div">

          </div>
      </div>
    </div>
  </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button onclick="resource_data_collapse()"  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Perfspective Resize Tracker Data For Manual Report
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border loader-spin-off" id="loader-sp-1">
            </div>
          </div>
            <div id="resource_data_result_div">

            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
          <button onclick="pod_basic_data_collapse()"  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Full Pod Data
          </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border loader-spin-off" id="loader-sp-2">
            </div>
          </div>
            <div id="pod_basic_data_div">

            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button onclick="exa_data_collapse()" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          EXADATA Details
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border loader-spin-off" id="loader-sp-3">
            </div>
          </div>
            <div id="exa_data_div">

            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button onclick="pod_instance_collapse()" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Pod Capacity/Instance Details
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="d-flex justify-content-center">
              <div class="spinner-border loader-spin-off" id="loader-sp-4">
              </div>
            </div>
           <div id="pod_instance_data_div">

           </div>
          </div>
        </div>
    </div>
</div>
