{% include "podlookup/header.html" %}
{% load static %}
  <!-- <a href="{% url 'PodCapacityDashboard_MainPage' %}" class="link-dark" style="text-align:center;">Click here to get Capacity Reservation details</a> -->
<div class="container">

  <!-- //NOSONAR --><center>
      <div class="card" style="width: 25rem;">
          <div class="card-header">
            <h2>REGION</h2>
          </div>
          <div class="card-body">
            <form action="" method="GET">
              <div class="input-group mb-3">
                <label class="input-group-text" style="width: 50.1%;" for="regions">Region</label>
                <input type="text" list="regionList" id="regions" name="regions" class="form-control" placeholder="Select Option">
                <datalist id="regionList">
                  <option value="Select Option">
                  {% for i in region %}
                    <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </datalist>
              </div>                                       
              <div class="input-group mb-3">
                <label class="input-group-text" style="width: 50.1%;" for="pod_type">PodType</label>
                <select class="form-select" id="pod_type" name="pod_type">
                    <option value="Gen1">Gen1</option>
                    <option value="FAAAS">FAAAS</option>
                </select>
              </div>
              <div class="col-12">
                  <button type="submit" class="btn btn-secondary btn-lg" onclick="Reset_fn()" >Submit</button>
              </div>
            </form>
          </div>
      </div>
  </center>
</div>

<div class="container">

  {% if region_wise_data %}
  <table class="table table-striped table-bordered text-center" summary="regionwise cap data">
      <thead class="table-dark">
        <tr>
          <th id="rg_reg">REGION</th>
          <th>AVAILABILITY DOMAIN</th>
          <th id="rg_dp">DISPLAY NAME</th>
          <th id="rg_cpid">CAPACITY ID</th>
          <th id="rg_rc">RESERVED INSTANCE COUNT</th>
          <th id="rg_usdcount">USED INSTANCE COUNT</th>
          <th id="rg_freecount">FREE INSTANCE COUNT</th>
          <th id="rg_per">PERCENTAGE</th>
        </tr>
      </thead>
      {% for obj in region_wise_data %}
      <tbody>
        {% if obj.percentage >= 85 %}
        <tr class="table-danger">
        {% elif obj.percentage >= 75 and obj.percentage < 85 %}
        <tr class="table-warning">
        {% else %}
        <tr>
        {% endif %}
          <td>{{ obj.region_name }}</td>
          <td>{{ obj.availability_domain }}</td>
          <td>{{ obj.display_name }}</td>
          <td><div class="cap_id" data-toggle="tooltip" data-placement="bottom" >{{ obj.cap_id }}</div></td>
          <td>{{ obj.reserved_instance_count }}</td>
          <td>{{ obj.used_instance_count }}</td>
          <td>{{ obj.free_count }}</td>
          <td>{{ obj.percentage }}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>

  {% endif %}


  {% if pod_capacity_data %}

  <h2 style="text-align:center;">Pod Capacity Dashboard</h2>
  <hr>
  <table id="Table_data_inst" class="table table-striped table-bordered text-center" summary="regionwise pod count">
    <thead class="table-dark">
      <tr>
        <th id="rgw_reg">Region</th>
        <th id="Avg_Dmn">Availability Domain</th>
        <th id="rgw_capid">Capacity_Reservation_Id</th>
        <th id="rgw_dn">Display Name</th>
        <th id="rgw_insts">Instance Shape</th>
        <th id="rgw_mem">MEMORY</th>
        <th id="rgw_ocpu">OCPUS</th>
        <th id="rgw_rc">Reserved Count</th>
        <th id="rgw_uc">Used Count</th>
        <th id="free_uc">Free Count</th>
        <th id="rgw_per">Percentage</th>
      </tr>
    </thead>

    <tbody>
      {% for user in pod_capacity_data %}
      {% if user.percentage >= 85 %}
      <tr class="table-danger">
      {% elif user.percentage >= 75 and user.percentage < 85 %}
      <tr class="table-warning">
      {% else %}
      <tr>
      {% endif %}
        <td>{{ user.region_name }}</td>
        <td>{{ user.availability_domain }}</td>
        <td><div class="cap_id" data-toggle="tooltip" data-placement="bottom" > {{ user.cap_id }} </div></td>
        <td>{{ user.display_name }}</td>
        <td>{{ user.instance_shape }}</td>
        <td>{{ user.memory }}</td>
        <td>{{ user.ocpus }}</td>
        <td>{{ user.reserved_count }}</td>
        <td>{{ user.used_count }}</td>
        <td>{{ user.free_count }}</td>
        <td>{{ user.percentage }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% endif %}
  {% if data %}

  <table class="table table-striped table-bordered text-center" summary="nocapacity list table">
      <thead class="table-dark">
        <tr>
          <th id="nocap_region">REGION</th>
          <th id="nocap_result">RESULT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ region_name }}</td>
          <td>{{ data }}</td>
        </tr>
      </tbody>
  </table>

  {% endif %}

</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#Table_data_inst').DataTable( {
      dom: 'Bfrtip',
        buttons: [
            'copy', 'csv'
        ]

    } );
});

</script>
{% include "podlookup/footer.html" %}

<div style="text-align: right; font-size: 12px;">
  Source: <a href={{ source_url_dop }} target="_blank">Devops Portal</a>
</div>
