/* .flexcontainer {
    display: flex;
    border: 2px solid black;
    height: 100%;
    flex-direction: column
} */
/* body{
  background-color: lightgrey;
} */

.flex_parent{
  border-radius: 10px;
}

.flex_container{
    display:flex;
    /* border: 2px solid gray; */
    height: 100%;
    
    /* align-items: rigth; */
    /* flex-direction: column; default is row*/
    /* flex-direction: column; */
    /* width: 90vh; */

    /* background-color: rgb(55, 55, 177);
    align-items:center;
   /* justify-content: end; */ 
    /* justify-content: flex-end; */
    /* justify-content: flex-start; default */
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* position:sticky; */
    /* justify-content: flex-end; */
    /* margin-left: 0px; */
    transition:0.5s;
    /* flex-flow accept multiple values wrap and direction */
    flex-flow:  wrap;
    /* background-color: rgb(231, 231, 237); */
    /* flex-wrap: wrap; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.flexitem1 {
    /* background-color: white; */
    order: 0;
    /* border: 2px solid black; */
    width: 25%;
    /* padding: 30px;
    background-color: rgb(236, 236, 254);
    font-size: 30px; */
    text-align: center;
    color: black;
    /* width: 200px; */
    /* height: 222px; */
    /* margin-left: 0; */
    flex-basis: auto;
    /* position: ; */
    /* flex-wrap: wrap; */
    border-radius: 10px;
    /* border: 1px solid rgb(231, 231, 237);  */
    /* flex-grow: 2; */
    flex-grow: 1;
  }

  
  .flexitem2 {
    /* background-color: white; */
    /* border: 2px solid black; */
    width: 25%;
    /* padding: 30px;
    font-size: 30px; */
    text-align: center;
    color: black;
    /* width: 222px;
    height: 222px; */
    /* margin-left: 0; */
    /* flex-basis: auto; */
    /* flex-wrap: wrap; */
    /* flex-grow: 3; */
    border-radius: 10px;
    /* flex-grow: 2; */
    flex-grow: 1;
  }
  





