<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FA-Env-Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <div class="container-fluid">
        <div class="row" id='header-row'>
            <div class="col-8 order-first m-auto"  id="Header">FA-ENV-ANALYSIS</div>
            <div class="col-4 order-last m-auto" id="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">About US</a> </li>
                    <li><a href="">FAQ</a> </li>
                    <li><a href="">Contact US</a> </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>