{% extends "base_db_dash.html" %}

    {% block pod_name %}
        {% autoescape off %}
            {{ pod_name }}
        {% endautoescape %}
    {% endblock pod_name %}

    {% block db_name %}
        {% autoescape off %}
            {{ db_name }}
        {% endautoescape %}
    {% endblock db_name %}

    {% block pod_size %}
        {% autoescape off %}
            {{ pod_size }}
        {% endautoescape %}
    {% endblock pod_size%}

    {% block exa_node %}
        {% autoescape off %}
            {{ exa_name }}
        {% endautoescape %}
    {% endblock exa_node%}


    {% block chart %}
    {% autoescape off %}
     <div class="flex_parent">
        <div id="myflex" class="flex_container">
            <div class="flexitem1">
                {{ total_sec }}
            </div>
            <div class="flexitem2">
                {{ per_exe }}
            </div>
        </div>
    </div>
    <div id="myflex" class="flex_container">
        <div class="flexitem1">
            {{ aas_sql }}
        </div>
        <div class="flexitem2">
            {{ top_event }}
        </div>
    </div> 

    {% endautoescape %}
{% endblock chart %}