
{% if exa_data %}
<table class="table" summary="exadata details">
    <thead>
        <tr>
            <th id="ex_name">EXADATA</th>
            <th id="ex_pods">PODS</th>
        </tr>
    </thead>
    {% for exa,pods in exa_data.items %}
    <tbody>
        <tr>
            <td><button onclick="exadata_method('{{ exa }}')" style="border: 0;background-color: transparent;color: rgb(20, 136, 8); " data-bs-toggle="modal" data-bs-target=".exa_data-lg" >{{ exa }}</button></td>
            <td>
            {% for pod in pods %}
                <button type="button" class="btn btn-outline-primary">{{ pod }}</button>
            {% endfor %}
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<p style="text-align:center"> Unable to fetch ExaData details. Please check JC configurations</p>
{% endif %}


<!-- The Modal -->
<div class="modal fade exa_data-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center;">
                ExaData Details</h4>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <div class="spinner-border loader-spin-off" id="loader-sp-6">
            </div>
          </div>
          <div id="exa_data_button"></div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
</div>
